app-footer {
  display: block;
  width: 100%;
  .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.footer {
  background-color: #020617;
  color: #9ca3af;
  padding: 1.5rem 0;
  margin-top: auto;
  
  &__copyright {
    text-align: center;
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
    .container {
    padding: 0 1rem;
    max-width: 700px;
  }
}

@media (max-width: 425px ) {
  .container  {
    padding: 0 1rem;
    max-width: 400px;
  }
}

}